*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
.herosection{
  width:1024px ;
height: 1024px;
}
.header{
  width: 1150px;
  height: 44px;
  top: 12px;
  left: 145.09px;
  gap: 140px;
  position: relative;
  display: flex;
  flex-direction: row;
}
#logo{
  width: 130px;
height: 40px;
gap: 8px;
padding: 8px;

}
.frame1{
  width: 504px;
  height: 24px;
  ul{
    display: flex;
    padding-top: 10px;
  }
}
.frame2{
  width: 211px;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  button{
    position: relative;
    top: -10px;
    padding-top: 2px;
    width: 142px;
    height: 44px;
    padding: 12px 24px 24px 12px ;
    border-radius: 100px;
    background-color: #0065FE;
    border-color: #0065FE;
    outline: #0065FE;
    color: #eaf0fa;
  }
}
.my-urls{
  font-family: Liter;
font-size: 18px;
line-height: 21.09px;
letter-spacing: 0%;
color:  #0065FE;

}
li{
  font-family: Liter;
  font-size: 18px;
  line-height: 21.09px;
  letter-spacing: 0%;
  color: black;
}
a:hover{
  color: red;
}
a{
  text-decoration: none;
}
.description{
  width: 948px;
  height: 313px;
  position: relative;
  top: 200px;
  left: 200px;
}
.signup{
  display: flex;
  width: 282px;
height: 44px;
position: relative;
top: 250px;
left: 500px;
gap: 56px;
}
#sign-upb{
  width: 142px;
height: 44px;
gap: 10px;
border-radius: 100px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
background: #0065FE;
background-color: #0065FE;
border-color: #0065FE;
color: #eaf0fa;
}
button:hover{
  color: rebeccapurple;
}
.lm{
  width: 84px;
  height: 20px;
  font-family: Liter;
font-size: 16px;
line-height: 18.75px;
letter-spacing: 0%;
color: #0065FE;
padding-top: 12px;
}
.group2{
  width: 768px;
height: 224px;
top: 10px;
left: 150px;
position: relative;
border-radius: 24px;
}
.group3{
  width: 100%;
  height: 93px;
  top: 100px;
  left: 150px;
position: relative;  
}
.gp3png{
width: 956px;
height: 49px;
}
.Desktop1{
  height: 982px;
  position: relative;
  top: 500px;
}
.dframe1{
  width: 100%;
  height: 220px;
  top: 100px;
  position: relative;
}
.dframe2{
width: 1000px;
height: 490px;
position: relative;
top: 200px;
left: 120px;
}
.desktop2{
height:1073px;
position: relative;
top: 1000px;

}
.main-p{
  font-family: Liter;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  width: 560px;
  height: 48px;
  
}
#d2frame1{
  width: 576px;
height: 108px;
top: 42px;
left: 432px;
position: relative;

}
.d2frame2{
  width: 1088px;
height: 627px;
top: 218px;
left: 176px;
border-radius: 12px;
position: relative;
}
.d2frame3{
  width: 412px;
height: 48px;
top: 400px;
left: 514px;
position: relative;
}
.customp{
  width: 200px;
height: 48px;
border-radius: 100px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
border-width: 1px;
background-color: #fff;
color: #0065FE;
}
.selectp{
  margin-left: 10px;
  width: 200px;
height: 48px;
border-radius: 100px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
background-color: #0065FE;
color: #fff;
border-color: #0065FE;
}
span{
  font-family: Liter;
font-size: 40px;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
color: #0065FE;
}
.line70{
  width: 8px;
height: 48;
border-width: 5px;

}
.sub-p{
  width: 556px;
  height: 52px;
  font-family: Liter;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.desktop3{
position: relative;
top: 1500px;
height: 523px;
width: 100%;
}
.FAQs{
  width: 100%;
height: 1153px;
top: 1794px;
position: relative;
}
.Frame4{
  width: 100%;
height: 299px;
top: 1800px;
position: relative;
}
.footer{
  width: 100%;
height: 561px;
top: 1900px;
position: relative;
}
.group8{
  width: 100px;
height: 24px;
padding-right: 5px;
}
@media(max-width:768px){
  body{
    width: 768px;
  }
  .herosection{
    width: 768px;
  }
  .header{
    left: 0px;
  }
  .intro{
    width: 768px;
  }
  .description{
    width: 100%;
    left: 0px;
  }
  .signup{
    left: 200px;
  }
  .group2{
    left: 10px;
    width: 700px;
  }
  .group3{
    left: 0px;
  }
  .dframe2{
    width: 700px;
    left: 80px;
  }
  #d2frame1{
    left: 100px;
  }
  .d2frame2{
    width: 768px;
    left: 80px;
  }
  .d2frame3{
    left: 250px;
  }
}